body{
    margin: 0;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
}
.container{
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 30px 70px;
    border-radius: 50px;
}

img{
    width: 100px;
    display: block;
    margin: 30px auto;
}

h2{
    text-align: center;
    color: rgb(60, 60, 255);
}
ul{
    margin-top: 30px;
    padding-left: 120px;
    font-size: 15px;
    color: #000;
    line-height: 50px;
    list-style: none;
    width: 500px;
}

input{
    margin-left: 15px;
}

ul button{

    margin: 30px 25px;
}

.footer{
    color: #898989;
    font-size: 12px;
    text-align: center;
    margin: 25px auto;
}

@media screen and (max-width:400px){
    
    body{
        width: 380px;
    }

    img{
    width: 25%;
    display: block;
    margin: 30px auto;
    }

    .container{
        width: 210px;
        margin: 5px auto;
    }
    ul{
        margin: 0px auto;
        padding: 0;
        width: 100px;
        line-height: 40px;
    }
    input{
        margin-left: 8px;
    }
    button{
        margin: 0;
    }
    .footer{
        margin-top: 0px;
    }
}